<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <title>싀알류디연습</title>
</head>
<body>
    <!-- 글쓰기 링크(버튼) -->
    <a href="{% url 'newblog' %}"> 글쓰기 </a> <br>


    <!-- 블로그 글을 띄우는 부분 -->
    {% for blog in blogs %}
        <h2>{{blog.title}}</h2>
        <h5>{{blog.pub_date}}</h5>
        <p>{{blog.body}}</p>
        <a href = "{% url 'update' blog.id %}" > 수정 </a>
        <a href = "{% url 'delete' blog.id %}"> 삭제 </a>       
        <hr>

    {% endfor %}


</body>
</html>


